<a href="https://colab.research.google.com/github/CamelGoong/Algorithm_Practicing/blob/main/Algorithm_100.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 6001~6010

In [ ]:
print("print(\"Hello\\nWorld\")")

print("Hello\nWorld")

In [ ]:
variable = input()
print(variable)

a
a

In [ ]:
num = input()
print(num)

15
15

# 6011~6020

In [ ]:
f = input()
f = float(f)
print(f)

1.25
1.25

In [ ]:
a = input()
b = input()

print(a,b, sep = '\n')

1

1

In [ ]:
a = input()
b = input()

print(b,a, sep = '\n')

a
b
b
a

In [ ]:
f = 0.1
print(f)

print(f)

print(f)

0.1
0.1
0.1

In [ ]:
a, b = input().split()
print(a)
print(b)

1 2
1
2

In [ ]:
a, b = input().split()
print(b,a)

1 2
2 1

In [ ]:
string = input()
print(string,string,string)

Hello
Hello Hello Hello

In [ ]:
h, m = input().split(":")
print(h, m, sep = ":")

3:16
3:16

In [ ]:
y, m, d = input().split(".")
print(d, m, y, sep = "-")

2020.3.4
4-3-2020

In [ ]:
birth, identity = input().split("-")
print(birth, identity, sep = "")

000907-1121112
0009071121112

#6021~6030

In [ ]:
word = input()
for i in range(5):
  print(word[i])

hello
h
e
l
l
o

In [ ]:
birth = input()
print(birth[0:2], birth[2:4], birth[4:6], sep = " ")

200304
20 03 04

In [ ]:
time = input().split(":")
print(time[1])

17:23:56
23

In [ ]:
word = input().split(" ")
print(word[0]+word[1])

hello world
helloworld

In [ ]:
a, b = input().split()
print(int(a) + int(b))

123 -123
0

In [ ]:
a = input()
b = input()
print(float(a) + float(b))

0.1
0.9
1.0

6027: 10진수 정수 -> 16진수 정수 출력(소문자 형태)

In [ ]:
decimal = int(input())
print("%x"%decimal)

26
1a

In [ ]:
decimal = int(input())
print("%X"%decimal)

26
1A

6029 : [기초-값변환] 16진 정수 입력받아 8진수로 출력하기(설명)(py)

In [ ]:
Hexa = int(input(), 16) # 입력된 숫자를 16진수로 인식해서 저장 
print("%o"%Hexa)

f
17

6030 : [기초-값변환] 영문자 1개 입력받아 10진수로 변환하기(설명)(py)

In [ ]:
# ord(): 문자를 10진수로 변환한 값(유니코드 값)
a = ord(input())
print(a)

A
65

#6031~6040

6031 : [기초-값변환] 정수 입력받아 유니코드 문자로 변환하기(설명)(py)

In [ ]:
# chr(): 정수 값을 유니코드 문자로 바꿔서 출력 / ord()의 반대기능
a = chr(int(input()))
print(a)

65
A

In [ ]:
a = int(input())
print(-a)

1
-1

6033 : [기초-산술연산] 문자 1개 입력받아 다음 문자 출력하기(설명)(py)

In [ ]:
a = ord(input())
print(chr(a + 1))

c
d

In [ ]:
a, b = input().split(" ")

c = int(a) - int(b)
print(c)

123 -123
246

In [ ]:
a, b = input().split(" ")

c = float(a) * float(b)
print(c)

0.5 2.0
1.0

In [ ]:
string, num = input().split(" ")
print(string*int(num))

love 3
lovelovelove

In [ ]:
num = int(input())
string = input()

print(string * num)

3
I love CS
I love CSI love CSI love CS

In [ ]:
a, b = input().split(" ")
print(int(a)**int(b))

2 10
1024

In [ ]:
a, b = input().split(" ")
print(float(a)**float(b))

4.0 2.0
16.0

In [ ]:
a, b = input().split(" ")
print(int(a) // int(b))

10 2
5

# 6041~6050

In [ ]:
a, b = input().split(" ")
print(int(a) % int(b))

10 2
0

6042 : [기초-값변환] 실수 1개 입력받아 소숫점이하 자리 변환하기(설명)(py)

format(수, ".2f")

In [ ]:
a = float(input())
print(format(a, ".2f"))

3.141592
3.14

In [ ]:
a, b = input().split(" ")
print(format(float(a) / float(b), ".3f"))

10.0 3.0
3.333

In [ ]:
a, b = input().split(" ")
a, b = int(a), int(b)

print(a+b, a-b, a*b, a//b, a%b, format(float(a)/float(b), ".2f"), sep = "\n")

10 3
13
7
30
3
1
3.33

In [ ]:
a,b,c = input().split(" ")

print(int(a) + int(b) + int(c), format((float(a) + float(b) + float(c)) / 3, ".2f"))

1 2 3
6 2.00

6046 : [기초-비트시프트연산] 정수 1개 입력받아 2배 곱해 출력하기(설명)(py)

예시
n = 10
print(n<<1)  #10을 2배 한 값인 20 이 출력된다.
print(n>>1)  #10을 반으로 나눈 값인 5 가 출력된다.
print(n<<2)  #10을 4배 한 값인 40 이 출력된다.
print(n>>2)  #10을 반으로 나눈 후 다시 반으로 나눈 값인 2 가 출력된다.

In [ ]:
a = int(input())

print(a<<1)

1024
2048

In [ ]:
a, b = input().split(" ")
a, b = int(a), int(b)

print(a<<b)

1 3
8

In [ ]:
a, b = input().split(" ")
a, b = int(a), int(b)

print(a < b)

1 9
True

In [ ]:
a, b = input().split(" ")
a, b = int(a), int(b)

print(a == b)

0 0
True

In [ ]:
a, b = input().split(" ")
a, b = int(a), int(b)

print(a <= b)

0 -1
False

#6051~6060

In [ ]:
a, b = input().split(" ")
a, b = int(a), int(b)

print(a != b)

0 1
True

6052 : [기초-논리연산] 정수 입력받아 참 거짓 평가하기(설명)(py)

bool( ) 을 이용하면 입력된 식이나 값을 평가해 불 형의 값(True 또는 False)을 출력해준다.
식이나 값을 계산해서 결과값이 만들어지는 것을 평가(evaluate)라고 한다. 

python 언어에서 정수값 0은 False(거짓)로 평가되고, 그 외의 값들은 모두 True(참)로 평가된다.

In [ ]:
a = int(input())

print(bool(a))

0
False

In [ ]:
a = int(input())

print(not(bool(a)))

1
False

In [ ]:
a, b = input().split(" ")
print(bool(int(a)) and bool(int(b)))

1 1
True

In [ ]:
a, b = input().split(" ")
print(bool(int(a)) or bool(int(b)))

1 1
True

In [ ]:
a, b = input().split(" ")
print(bool(int(a)) and not(bool(int(b))) or not(bool(int(a))) and bool(int(b)))

1 1
False

In [ ]:
a, b = input().split(" ")
a, b = int(a), int(b)
print(bool(a) and bool(b) or not(bool(a)) and not(bool(b)))

0 0
True

In [ ]:
a, b = input().split(" ")
a, b = int(a), int(b)
print(not(bool(a) or bool(b)))

0 0
True

6059 : [기초-비트단위논리연산] 비트단위로 NOT 하여 출력하기(설명)(py)

입력 된 정수를 비트단위로 참/거짓을 바꾼 후 정수로 출력해보자.
비트단위(bitwise)연산자 ~ 를 붙이면 된다.(~ : tilde, 틸드라고 읽는다.)

** 비트단위(bitwise) 연산자는,
~(bitwise not), &(bitwise and), |(bitwise or), ^(bitwise xor),
<<(bitwise left shift), >>(bitwise right shift)
가 있다.

예를 들어 1이 입력되었을 때 저장되는 1을 32비트 2진수로 표현하면
        00000000 00000000 00000000 00000001 이고,
~1은 11111111 11111111 11111111 11111110 가 되는데 이는 -2를 의미한다.

예시
a = 1
print(~a) #-2가 출력된다.

In [ ]:
a = int(input())
print(~a)

2
-3


6060 : [기초-비트단위논리연산] 비트단위로 AND 하여 출력하기(설명)(py)

이 연산을 이용하면 어떤 비트열의 특정 부분만 모두 0으로도 만들 수 있는데
192.168.0.31   : 11000000.10101000.00000000.00011111
255.255.255.0 : 11111111.11111111.11111111.00000000

두 개의 ip 주소를 & 연산하면
192.168.0.0 :     110000000.10101000.0000000.00000000 을 계산할 수 있다.

실제로 이 계산은 네트워크에 연결되어 있는 두 개의 컴퓨터가 데이터를 주고받기 위해
같은 네트워크에 있는지 아닌지를 판단하는데 사용된다.

In [ ]:
a, b = input().split(" ")
a, b = int(a), int(b)

print(a&b)

3 5
1

#6061~6070

6061 : [기초-비트단위논리연산] 비트단위로 OR 하여 출력하기(설명)(py)

| 은 파이프(pipe)연산자라고도 불리는 경우가 있다 / or 연산

In [ ]:
a, b = input().split(" ")
a, b = int(a), int(b)

print(a | b)

3 5
7

6062 : [기초-비트단위논리연산] 비트단위로 XOR 하여 출력하기(설명)(py)

비트단위(bitwise) 연산자 ^(xor, circumflex/caret, 서컴플렉스/카릿)를 사용하면 된다.

두 장의 이미지가 겹쳐졌을 때 색이 서로 다른 부분만 처리할 수 있다.
배경이 되는 그림과 배경 위에서 움직이는 그림이 있을 때,
두 그림에서 차이만 골라내 배경 위에서 움직이는 그림의 색으로 바꿔주면
전체 그림을 구성하는 모든 점들의 색을 다시 계산해 입히지 않고
보다 효과적으로 그림을 처리할 수 있게 되는 것

In [ ]:
a, b = input().split(" ")
a, b = int(a), int(b)

print(a ^ b)

3 5
6

6063 : [기초-3항연산] 정수 2개 입력받아 큰 값 출력하기(설명)(py)

3개의 요소로 이루어지는 3항 연산은
"x if C else y" 의 형태로 작성이 된다.
- C : True 또는 False 를 평가할 조건식(conditional expression) 또는 값
- x : C의 평가 결과가 True 일 때 사용할 값
- y : C의 평가 결과가 True 가 아닐 때 사용할 값

In [ ]:
a, b = input().split(" ")
a = int(a)
b = int(b)
print(a if (a >= b) else b)

123 456
456

6064 : [기초-3항연산] 정수 3개 입력받아 가장 작은 값 출력하기(설명)(py)

In [1]:
a, b, c = input().split(" ")
a, b, c = int(a), int(b), int(c)

print((a if a < b else b) if ((a if a < b else b) < c) else c)
# 식 차근차근 이해하면 됨. (a,b중 작은거) 만약 (a,b중 작은거 < c)

3 -1 5
-1

In [4]:
a, b, c = input().split(" ")

a, b, c = int(a), int(b), int(c)

for i in (a, b, c):
  if i % 2 == 0:
    print(i)

1 2 4
2
4

In [5]:
a, b, c = input().split(" ")
a, b, c = int(a), int(b), int(c)

for i in (a, b, c):
  if i % 2 == 0:
    print("even")
  else:
    print("odd")

1 2 8
odd
even
even

In [6]:
a = int(input())

if a < 0:
  if a % 2 == 0:
    print("A")
  else:
    print("B") 

else:
  if a % 2 == 0:
    print("C")
  else:
    print("D")

-2147483648
A

6068 : [기초-조건/선택실행구조] 점수 입력받아 평가 출력하기(설명)(py)

예시
...
if n>=90 :
  print('A')
else :
  if n>=70 :
    print('B')
  else :
    if n>=40 :
      print('C')
    else :
      print('D')

In [7]:
a = int(input())

if a >= 90:
  print("A")
elif a >= 70:
  print("B")
elif a >= 40:
  print("C")
else:
  print("D")

38
D

In [8]:
a = input()

if a == "A":
  print("best!!!")
elif a == "B":
  print("good!!")
elif a == "C":
  print("run!")
elif a == "D":
  print("slowly~")
else:
  print("what?")

F
what?

In [9]:
a = int(input())

if a // 3 == 1:
  print("spring")
elif a // 3 == 2:
  print("summer")
elif a // 3 == 3:
  print("fall")
else:
  print("winter")

12
winter

#6071~6080

In [12]:
n = 1

while n != 0:
  n = int(input())
  
  if n != 0:
    print(n)

7
7
4
4
0

In [13]:
n = int(input())

while n > 0:
  print(n)
  n -= 1

5
5
4
3
2
1

In [14]:
n = int(input())
n -= 1

while n >= 0:
  print(n)
  n -= 1

5
4
3
2
1
0

6074 : [기초-반복실행구조] 문자 1개 입력받아 알파벳 출력하기(설명)(py)

ord(): 문자 -> 아스키 코드값 / chr(): 아스키 코드값 -> 문자

In [15]:
string = ord(input())
a = ord("a")

while a <= string:
  print(chr(a))
  a += 1

f
a
b
c
d
e
f

In [16]:
num = int(input())
zero = 0

while zero <= num:
  print(zero)
  zero += 1

4
0
1
2
3
4

6076 : [기초-반복실행구조] 정수 1개 입력받아 그 수까지 출력하기2(설명)(py)

range(끝)
range(시작, 끝)
range(시작, 끝, 증감)

In [17]:
num = int(input())

for i in range(num + 1):
  print(i)

4
0
1
2
3
4

In [19]:
num = int(input())

a = 1
sum = 0

while a <= num:
  if a % 2 == 0:
    sum += a
  a += 1

print(sum)

5
6

In [22]:
a = "a"

while a != "q":
  a = input()
  print(a)

q

In [28]:
n = int(input())
sum = 0
i = 1

while sum < n:
  sum += i
  i += 1

print(i-1)

55
10

In [29]:
a, b = input().split(" ")
a, b = int(a), int(b)

for i in range(a):
  for j in range(b):
    print(i+1, j+1)

2 3
1 1
1 2
1 3
2 1
2 2
2 3

# 6081~6090

6081 : [기초-종합] 16진수 구구단 출력하기(py)

print('%X'%n)    #n에 저장되어있는 값을 16진수(hexadecimal) 형태로 출력

int(n, 16): string을 16진수 int로 변환

In [40]:
num = int(input(), 16)

for i in range(1, 16):
  print("%X"%num, "*", "%X"%i, "=", "%X"%(num * i), sep = "")

B
B*1=B
B*2=16
B*3=21
B*4=2C
B*5=37
B*6=42
B*7=4D
B*8=58
B*9=63
B*A=6E
B*B=79
B*C=84
B*D=8F
B*E=9A
B*F=A5

In [52]:
n = int(input())

for i in range(1, n+1):
  if i % 10 == 3:
    print("X")
  elif i % 10 == 6:
    print("X")
  elif i % 10 == 9:
    print("X")
  else:
    print(i)

# if (i%10==3, or i%10==6, i%10 ==9)라고 표현해도 됨.

29
1
2
X
4
5
X
7
8
X
10
11
12
X
14
15
X
17
18
X
20
21
22
X
24
25
X
27
28
X

In [54]:
r, g, b = input().split(" ")
r, g, b = int(r), int(g), int(b)

count = 0

for i in range(r):
  for j in range(g):
    for k in range(b):
      print(i, j, k, sep = " ")
      count += 1

print(count)

2 2 2
0 0 0
0 0 1
0 1 0
0 1 1
1 0 0
1 0 1
1 1 0
1 1 1
8

In [56]:
h, b, c, s = input().split(" ")
h, b, c, s = int(h), int(b), int(c), int(s)

print(round((h * b * c * s / 8 / 1024 / 1024),1), "MB")

44100 16 2 10
1.7 MB

In [58]:
w, h, b = input().split(" ")
w, h, b = int(w), int(h), int(b)

print("%.2f"%(w * h * b / 8 / 1024 / 1024), "MB") # round(n, 2)로 하면 오류나는듯

1024 768 24
2.25 MB

In [59]:
n = int(input())
sum = 0
i = 1

while sum < n:
  sum += i
  i += 1

print(sum)

57
66

In [60]:
n = int(input())

for i in range(1, n+1):
  if i % 3 == 0:
    continue;
  print(i)

10
1
2
4
5
7
8
10

In [63]:
a, d, n = input().split() # split(" ") 이렇게 하니까, 안되고 비우니까 됨.
a, d, n = int(a), int(d), int(n)

print(a + (n-1) * d)

1 3 2
4

In [64]:
a, r, n = input().split()
a, r, n = int(a), int(r), int(n)

result = a * r**(n-1)

print(result)

2 3 7
1458

In [66]:
a, m, d, n = input().split()
a, m, d, n = int(a), int(m), int(d), int(n)

result = a


for i in range(1, n):
  
  result = result * m + d

print(result)

1 -2 1 8
-85

# 6091~6098

6091 : [기초-종합] 함께 문제 푸는 날(설명)(py) / **IDEA**가 아주 중요한듯!

In [68]:
a, b, c = input().split()
a, b, c = int(a), int(b), int(c)

day = 1

while day % a != 0 or day % b != 0 or day % c != 0:
  day += 1

print(day)

3 7 9
63

In [71]:
n = int(input())
a = input().split()

for l in range(n):
  a[l] = int(a[l])

count = []

for i in range(23):
  count.append(0)

for j in a:
  count[j-1] += 1

for k in count:
  print(k, end = " ")

10
1 3 2 2 5 6 7 4 5 9
12112110100000000000000

6093 : [기초-리스트] 이상한 출석 번호 부르기2(py)

출석 번호를 n번 무작위로 불렀을 때, 부른 번호를 거꾸로 출력해 보자.
예시
...
for i in range(n-1, -1, -1) :
  print(a[i], end=' ')
...

In [73]:
n = int(input())
a = input().split()

for i in range(n):
  a[i] = int(a[i])

for j in range(n-1, -1, -1):
  print(a[j], end = " ")

10
10 4 2 3 6 6 7 9 8 5
5 8 9 7 6 6 3 2 4 10

In [76]:
n = int(input())
a = input().split()

result = None;

for i in range(n):
  a[i] = int(a[i])

for num in a:
  if result == None:
    result = num
  else:
    if result >= num:
      result = num
    else:
      continue;

print(result)

10
10 4 2 3 6 6 7 9 8 5
2

In [77]:
# <위 문제의 다른 풀이>
n = int(input())
a = input().split()

for i in range(n):
  a[i] = int(a[i])

min = a[0]
for i in range(0, n):
  if a[i] < min:
    min = a[i]
print(min)

10
10 4 2 3 6 6 7 9 8 5
2

6095 : [기초-리스트] 바둑판에 흰 돌 놓기(설명)(py) / **List Comprehension** / 중요해보임.

In [98]:
n = int(input())

location = [[0 for j in range(19)] for i in range(19)]

for i in range(n):
  x, y = map(int, input().split())
  location[x-1][y-1] = 1

for i in range(19):
  for j in range(19):
    print(location[i][j], end = " ")
  print()

5
1 1
2 2
3 3
4 4
5 5
1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0

6096 : [기초-리스트] 바둑알 십자 뒤집기(py) / **입력 데이터의 형태가 특이.**

In [12]:
# location 입력 받기
location = [[0 for i in range(19)] for j in range(19)]
for i in range(19):
  location[i] = list(map(int, input().split()))
  
n = int(input())

# 좌표 입력
for i in range(n):
  x, y = map(int, input().split())

  # 가로줄, 세로줄 바꾸기
  for i in range(19):
    # 1) 가로줄 바꾸기
    if int(location[x-1][i]) == 0:
      location[x-1][i] = 1
    else:
      location[x-1][i] = 0
    
    # 2) 세로줄 바꾸기
    if int(location[i][y-1]) == 0:
      location[i][y-1] = 1
    else:
      location[i][y-1] = 0

# 결과 출력
for i in range(19):
  for j in range(19):
    print(int(location[i][j]), end = " ")
  print()

0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
2
10 10
12 12
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0

**6098 : [기초-리스트] 성실한 개미(py)**

In [6]:
h, w = map(int, input().split())
n = int(input())

# 격자판
location = [[0 for i in range(w)] for j in range(h)]

# 길이(l), 방향(d), 좌표(x,y) 입력

for i in range(n):

  l, d, x, y = map(int, input().split())

# 가로인 경우  
  if d == 0:
    for j in range(l):
      location[x-1][y-1+j] = 1

# 세로인 경우
  else:
    for k in range(l):
      location[x-1+k][y-1] = 1

# 결과 출력
for i in range(h):
  for j in range(w):
    print(location[i][j], end = " ")
  print()

5 5
3
2 0 1 1
3 1 2 3
4 1 2 5
1 1 0 0 0
0 0 1 0 1
0 0 1 0 1
0 0 1 0 1
0 0 0 0 1

In [25]:
# 미로상자 구조 입력

maze = []
for i in range(10):
  maze.append([])
  for j in range(10):
    maze[i].append(0)

for i in range(10):
  maze[i] = list(map(int, input().split()))

# 개미 처음 위치
x = 1
y = 1
maze[1][1] = 9
# 뭔가 재귀로 풀 수 있을 것 같은??

# 성실한 개미의 이동
# 오른쪽으로 이동 우선
while True:
  # 오른쪽으로 갔는데, 벽X
  if maze[x][y+1] == 0:
    maze[x][y+1] = 9
    y += 1
  # 오른쪽으로 갔는데, 벽O  
  elif maze[x][y+1] == 1:
    # 밑으로 갔는데, 벽X
    if maze[x+1][y] == 0:
      maze[x+1][y] = 9
    # 밑으로 갔는데, 벽O
    elif maze[x+1][y] == 1:
      break;
    # 밑으로 갔는데, 먹이  
    else:
      maze[x+1][y] = 9 
      break; # 종료
    x += 1

for i in range(10):
  for j in range(10):
    print(maze[i][j], end = " ")
  print()

1 1 1 1 1 1 1 1 1 1
1 0 0 1 0 0 0 0 0 1
1 0 0 1 1 1 0 0 0 1
1 0 0 0 0 0 0 1 0 1
1 0 0 0 0 0 0 1 0 1
1 0 0 0 0 1 0 1 0 1
1 0 0 0 0 1 2 1 0 1
1 0 0 0 0 1 0 0 0 1
1 0 0 0 0 0 0 0 0 1
1 1 1 1 1 1 1 1 1 1
1 1 1 1 1 1 1 1 1 1
1 9 9 1 0 0 0 0 0 1
1 0 9 1 1 1 0 0 0 1
1 0 9 9 9 9 9 1 0 1
1 0 0 0 0 0 9 1 0 1
1 0 0 0 0 1 9 1 0 1
1 0 0 0 0 1 9 1 0 1
1 0 0 0 0 1 0 0 0 1
1 0 0 0 0 0 0 0 0 1
1 1 1 1 1 1 1 1 1 1

In [30]:
# 미로상자 구조 입력 (이 풀이버전은 성공)

maze = []
for i in range(10):
  maze.append([])
  for j in range(10):
    maze[i].append(0)

for i in range(10):
  maze[i] = list(map(int, input().split()))
x = 1
y = 1
maze[1][1] = 9

while True:
  # 오른쪽으로 갔는데, 벽X
  if maze[x][y+1] == 0:
    maze[x][y+1] = 9
    y += 1
    continue;
  # 오른쪽으로 갔는데, 먹이  
  elif maze[x][y+1] == 2:
    maze[x][y+1] = 9
    break;
  

    # 밑으로 갔는데, 벽X
  if maze[x+1][y] == 0:
    maze[x+1][y] = 9
    x += 1
  
    # 밑으로 갔는데, 벽O
  elif maze[x+1][y] == 2:
    maze[x+1][y] = 9 
    break; 
    
  else:
    break; 
    

for i in range(10):
  for j in range(10):
    print(maze[i][j], end = " ")
  print()

1 1 1 1 1 1 1 1 1 1
1 0 0 1 0 0 0 0 0 1
1 0 0 1 1 1 0 0 0 1
1 0 0 0 0 0 0 1 0 1
1 0 0 0 0 0 0 1 0 1
1 0 0 0 0 1 0 1 0 1
1 0 0 0 0 1 2 1 0 1
1 0 0 0 0 1 0 0 0 1
1 0 0 0 0 0 0 0 0 1
1 1 1 1 1 1 1 1 1 1
1 1 1 1 1 1 1 1 1 1
1 9 9 1 0 0 0 0 0 1
1 0 9 1 1 1 0 0 0 1
1 0 9 9 9 9 9 1 0 1
1 0 0 0 0 0 9 1 0 1
1 0 0 0 0 1 9 1 0 1
1 0 0 0 0 1 9 1 0 1
1 0 0 0 0 1 0 0 0 1
1 0 0 0 0 0 0 0 0 1
1 1 1 1 1 1 1 1 1 1