<a href="https://colab.research.google.com/github/CamelGoong/Algorithm_Practicing/blob/main/Algorithm_if%2Cfor%2Cwhile.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1단계: 입출력과 사칙연산

10171번_고양이

In [ ]:
print("\\    /\\")
print(" )  ( \')")
print("(  /  )")
print(" \\(__)|")

\    /\
 )  ( ')
(  /  )
 \(__)|

10172번_개

In [ ]:
print("|\\_/|")
print("|q p|   /}")
print('( 0 )\"\"\"\\')
print('|\"^\"`    |')
print('||_/=\\\\__|')

|\_/|
|q p|   /}
( 0 )"""\
|"^"`    |
||_/=\\__|

1001번_A-B

In [ ]:
A, B = map(int, input().split())
print(A-B)

3 2
1

10998번_A*B

In [ ]:
A, B = map(int, input().split())
print(A*B)

1 2
2

1008번_A/B

In [ ]:
A, B = map(int, input().split())
print(A/B)

4 5
0.8

10869번_사칙연산

In [ ]:
A, B = map(int, input().split())
print(A+B)
print(A-B)
print(A*B)
print(int(A/B))
print(A%B)

7 3
10
4
21
2.3333333333333335
1

10926번_??!

In [ ]:
id = input()
print(id+"??!")

joonas
joonas??!

18108번_1998년생인 내가 태국에서는 2541년생?!

In [ ]:
y = int(input())
print(y -543)

2541
1998

10430번_나머지

In [ ]:
A,B,C = map(int, input().split())

print((A+B)%C)
print(((A%C) + (B%C))%C)
print((A*B)%C)
print(((A%C) * (B%C))%C)

5 8 4
1
1
0
0

2588번_곱셈

In [ ]:
num1 = int(input())
num2 = input()

result1 = num1*int(num2[-1])
result2 = num1*int(num2[-2])
result3 = num1*int(num2[-3])

print(result1)
print(result2)
print(result3)
print(result1 + result2 * 10 + result3 * 100)

472
385
2360
3776
1416
181720

#2단계: 반복문

1330번_두 수 비교하기

In [ ]:
A, B = map(int, input().split())

dif = A-B
result = ""

if dif > 0:
  result = ">"

elif dif < 0:
  result = "<"

else:
  result = "=="

print(result)

2 2
==

9498번_시험 성적

In [ ]:
score = int(input())

if score >= 90:
  print("A")
elif score >= 80:
  print("B")
elif score >= 70:
  print("C")
elif score >= 60:
  print("D")
else:
  print("F")

61
D

2753번_윤년

In [ ]:
year = int(input())

if year % 4 == 0:
  if year % 100 != 0:
    print(1)
  elif year % 400 == 0:
    print(1)
  else:
    print(0)
else:
  print(0)

1999
0

14681번_사분면 고르기

In [ ]:
x = int(input())
y = int(input())

if x*y > 0:
  if x > 0:
    print(1)
  else:
    print(3)

else:
  if x > 0:
    print(4)
  else:
    print(2)

9
-13
4

2884번_알람 시계

In [ ]:
H, M = map(int, input().split())

# H가 바뀌지 않는 경우
if M - 45 >= 0:
  M = M - 45

# H가 바뀌는 경우(받아내림)
else:
  M = (M-45) + 60
  
  if H-1 >= 0:
    H -= 1
  else:
    H = 23

print(H, M)

23 40
22 55

2525번_오븐 시계

In [ ]:
A, B = map(int, input().split())
C = int(input())

# '시간' 계산
C_to_A = C // 60
# '분 ' 계산
C_to_B = C % 60

A += C_to_A

# A(시간)단위가 바뀔 때,(받아올림)
if B + C_to_B >= 60:
  B = (B + C_to_B) % 60
  A += 1

# A(시간)단위가 안바뀔 때,
else:
  B += C_to_B


# A(시간)단위가 23을 벗어났다면
if A > 23:
  A = A % 24


print(A, B)

14 30
20
14 50

2480번_주사위 세개

In [ ]:
a, b, c = map(int, input().split())

# 같은 눈이 3개 나오는 경우
if a == b == c:
  print(10000 + 1000 * a)

# 같은 눈이 2개만 나오는 경우
elif a == b:
  print(1000 + a * 100)
elif b == c:
  print(1000 + b * 100)
elif c == a:
  print(1000 + c * 100)

# 모두 다른 눈이 나오는 경우
else:
  print(max(a, b, c) * 100)

6 2 5
600

# 3단계: 반복문

2739번_구구단

In [ ]:
N = int(input())

for i in range(1,10):
  print(N, "*", i, "=", N * i )

2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

10950번_A+B-3

In [ ]:
n = int(input())

for i in range(n):
  A, B = map(int, input().split())
  print(A + B)

2
1 1
2
2 5
7

8393번_합

In [1]:
n = int(input())
sum = 0

for i in range(1,n+1):
  sum += i

print(sum)

3
6

15552번_빠른 A+B

In [ ]:
import sys

T = int(input())

for i in range(T):
  A, B = map(int, sys.stdin.readline().rstrip().split())
  print(A + B)

2741번_N 찍기

In [3]:
N = int(input())

for i in range(1, N+1):
  print(i)

5
1
2
3
4
5

2742번_기찍 N

In [4]:
N = int(input())

for i in range(N, 0, -1):
  print(i)

5
5
4
3
2
1

11021번_A+B-7

In [9]:
import sys

T = int(input())

for i in range(1, T+1):
  #A, B = map(int, input().rstrip().split())
  A, B = map(int, sys.stdin.readline().rstrip().split())
  print("Case #{}: {}".format(i, A+B))

5
1 1
Case #1: 2
2 3
Case #2: 5
3 4
Case #3: 7
9 8
Case #4: 17
5 2
Case #5: 7

11022번_A+B-8

In [10]:
import sys

T = int(input())

for i in range(1, T+1):
  #A, B = map(int, input().rstrip().split())
  A, B = map(int, sys.stdin.readline().rstrip().split())
  print("Case #{}: {} + {} = {}".format(i, A, B, A+B))

5
1 1
Case #1: 1 + 1 = 2
2 3
Case #2: 2 + 3 = 5
3 4
Case #3: 3 + 4 = 7
9 8
Case #4: 9 + 8 = 17
5 2
Case #5: 5 + 2 = 7

2438번_별 찍기 - 1

In [12]:
N = int(input())

for i in range(N):
  print("*"*(i+1))

3
*
**
***

2439번_별 찍기 - 2

In [14]:
N = int(input())

for i in range(1, N+1):
  print(" "*(N-i), "*"*(i), sep = "")

5
    *
   **
  ***
 ****
*****

10871번_x보다 작은 수

In [23]:
N, X = map(int, input().split())

A = list(map(int, input().split()))

for i in range(N):
  if A[i] < X:
    print(A[i], end = " ")

10 5
1 10 4 9 2 3 8 5 7 6
1 4 2 3

10952번_A+B-5

In [29]:
while True:
  A,B = map(int, input().split())

  if not(A == 0 and B == 0):
    print(A+B)
  else:
    break

1 1
2
2 3
5
0 0

10951번_A+B-4

In [33]:
while True:
  try:
    A, B = map(int, input().split())
    print(A + B)

  except:
    break

1 2
3
2 3
5
dfds

1110번_더하기 사이클

In [54]:
N = int(input())
cycle = 0
num = N

while True:
  left_num = num%10
  right_num = (num//10 + num%10) % 10

  num = left_num*10 + right_num
  cycle += 1

  if num == N:
    break

print(cycle)

55
3