<a href="https://colab.research.google.com/github/CamelGoong/Algorithm_Practicing/blob/main/Algorithm_1%EC%B0%A8%EC%9B%90_%EB%B0%B0%EC%97%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

10818번_최소, 최대

In [ ]:
N = int(input())

nums = list(map(int, input().split()))

min = nums[0]
max = nums[0]
for i in nums:
  
  # 최솟값 갱신
  if min > i:
    min = i
  
  if max < i:
    max = i

print(min, max)

5
20 10 35 30 7
7 35

2562번_최댓값

In [ ]:
import sys

max = int(input())
index = 1

for i in range(2, 10):
  num = int(sys.stdin.readline().rstrip())
  #num = int(input())

  if max < num:
    max = num

    index = i # 몇번째 수인지 저장!

print(max, index, sep = "\n")

3
29
38
12
57
74
40
85
61
85
8

2577번_숫자의 갯수

In [ ]:
nums = [0 for i in range(10)]
ABC = [int(input()) for i in range(3)]

mul = ABC[0] * ABC[1] * ABC[2]
str_mul = str(mul)

for i in str_mul:
  nums[int(i)] += 1

for i in nums:
  print(i)

150
266
427
3
1
0
2
0
0
0
2
0
0

In [ ]:
a = ["s", "t", "r"]
print("".join(a))

str

3052번_나머지

In [4]:
B = 42
result = []

for i in range(10):
  A = int(input())
  
  if A%B not in result:
    result.append(A%B)

print(len(result))

39
40
41
42
43
44
82
83
84
85
6

1546번_평균

In [8]:
N = int(input())
scores = list(map(int, input().rstrip().split()))

M = max(scores)

for i in range(N):
  scores[i] = scores[i] / M * 100

print(sum(scores) / N)

3
40 80 60
75.0

8958번_OX퀴즈

In [16]:
N = int(input())

for i in range(N):
  Quiz_result = input().strip()

  score = 0
  total_score = 0

  for j in Quiz_result:
    if j == "O":
      score += 1
    else:
      score = 0 # X 만나면 초기화
    
    total_score += score
  
  print(total_score)

5
OOXXOXXOOO
1
2
1
1
2
3
10
OOXXOOXXOO
1
2
1
2
1
2
9
OXOXOXOXOXOXOX
1
1
1
1
1
1
1
7
OOOOOOOOOO
1
2
3
4
5
6
7
8
9
10
55
OOOOXOOOOXOOOOX
1
2
3
4
1
2
3
4
1
2
3
4
30

4344번_평균은 넘겠지

In [27]:
C = int(input())

for i in range(C):
  scores = list(map(float, input().rstrip().split()))
  N = scores.pop(0)

  average = sum(scores) / len(scores)

  count = 0
  for score in scores:
    if score > average:
      count += 1

  ratio = count / len(scores) * 100
  print("{:.3f}%".format(ratio))

5
5 50 50 70 80 100
40.000%
7 100 95 90 80 70 60 50
57.143%
3 70 90 80
33.333%
3 70 90 81
66.667%
9 100 99 98 97 96 95 94 93 91
55.556%

TypeError: ignored