<a href="https://colab.research.google.com/github/CamelGoong/Algorithm_Practicing/blob/main/Algorithm_100.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 6001~6010

In [ ]:
print("print(\"Hello\\nWorld\")")

print("Hello\nWorld")

In [ ]:
variable = input()
print(variable)

a
a

In [ ]:
num = input()
print(num)

15
15

# 6011~6020

In [ ]:
f = input()
f = float(f)
print(f)

1.25
1.25

In [ ]:
a = input()
b = input()

print(a,b, sep = '\n')

1

1

In [ ]:
a = input()
b = input()

print(b,a, sep = '\n')

a
b
b
a

In [ ]:
f = 0.1
print(f)

print(f)

print(f)

0.1
0.1
0.1

In [ ]:
a, b = input().split()
print(a)
print(b)

1 2
1
2

In [ ]:
a, b = input().split()
print(b,a)

1 2
2 1

In [ ]:
string = input()
print(string,string,string)

Hello
Hello Hello Hello

In [ ]:
h, m = input().split(":")
print(h, m, sep = ":")

3:16
3:16

In [ ]:
y, m, d = input().split(".")
print(d, m, y, sep = "-")

2020.3.4
4-3-2020

In [ ]:
birth, identity = input().split("-")
print(birth, identity, sep = "")

000907-1121112
0009071121112

#6021~6030

In [ ]:
word = input()
for i in range(5):
  print(word[i])

hello
h
e
l
l
o

In [ ]:
birth = input()
print(birth[0:2], birth[2:4], birth[4:6], sep = " ")

200304
20 03 04

In [ ]:
time = input().split(":")
print(time[1])

17:23:56
23

In [ ]:
word = input().split(" ")
print(word[0]+word[1])

hello world
helloworld

In [ ]:
a, b = input().split()
print(int(a) + int(b))

123 -123
0

In [ ]:
a = input()
b = input()
print(float(a) + float(b))

0.1
0.9
1.0

6027: 10진수 정수 -> 16진수 정수 출력(소문자 형태)

In [ ]:
decimal = int(input())
print("%x"%decimal)

26
1a

In [ ]:
decimal = int(input())
print("%X"%decimal)

26
1A

6029 : [기초-값변환] 16진 정수 입력받아 8진수로 출력하기(설명)(py)

In [ ]:
Hexa = int(input(), 16) # 입력된 숫자를 16진수로 인식해서 저장 
print("%o"%Hexa)

f
17

6030 : [기초-값변환] 영문자 1개 입력받아 10진수로 변환하기(설명)(py)

In [ ]:
# ord(): 문자를 10진수로 변환한 값(유니코드 값)
a = ord(input())
print(a)

A
65

#6031~6040

6031 : [기초-값변환] 정수 입력받아 유니코드 문자로 변환하기(설명)(py)

In [ ]:
# chr(): 정수 값을 유니코드 문자로 바꿔서 출력 / ord()의 반대기능
a = chr(int(input()))
print(a)

65
A

In [ ]:
a = int(input())
print(-a)

1
-1

6033 : [기초-산술연산] 문자 1개 입력받아 다음 문자 출력하기(설명)(py)

In [ ]:
a = ord(input())
print(chr(a + 1))

c
d

In [ ]:
a, b = input().split(" ")

c = int(a) - int(b)
print(c)

123 -123
246

In [ ]:
a, b = input().split(" ")

c = float(a) * float(b)
print(c)

0.5 2.0
1.0

In [ ]:
string, num = input().split(" ")
print(string*int(num))

love 3
lovelovelove

In [ ]:
num = int(input())
string = input()

print(string * num)

3
I love CS
I love CSI love CSI love CS

In [ ]:
a, b = input().split(" ")
print(int(a)**int(b))

2 10
1024

In [ ]:
a, b = input().split(" ")
print(float(a)**float(b))

4.0 2.0
16.0

In [ ]:
a, b = input().split(" ")
print(int(a) // int(b))

10 2
5

# 6041~6050

In [ ]:
a, b = input().split(" ")
print(int(a) % int(b))

10 2
0

6042 : [기초-값변환] 실수 1개 입력받아 소숫점이하 자리 변환하기(설명)(py)

format(수, ".2f")

In [ ]:
a = float(input())
print(format(a, ".2f"))

3.141592
3.14

In [16]:
a, b = input().split(" ")
print(format(float(a) / float(b), ".3f"))

10.0 3.0
3.333

In [17]:
a, b = input().split(" ")
a, b = int(a), int(b)

print(a+b, a-b, a*b, a//b, a%b, format(float(a)/float(b), ".2f"), sep = "\n")

10 3
13
7
30
3
1
3.33

In [19]:
a,b,c = input().split(" ")

print(int(a) + int(b) + int(c), format((float(a) + float(b) + float(c)) / 3, ".2f"))

1 2 3
6 2.00

6046 : [기초-비트시프트연산] 정수 1개 입력받아 2배 곱해 출력하기(설명)(py)

예시
n = 10
print(n<<1)  #10을 2배 한 값인 20 이 출력된다.
print(n>>1)  #10을 반으로 나눈 값인 5 가 출력된다.
print(n<<2)  #10을 4배 한 값인 40 이 출력된다.
print(n>>2)  #10을 반으로 나눈 후 다시 반으로 나눈 값인 2 가 출력된다.

In [21]:
a = int(input())

print(a<<1)

1024
2048

In [22]:
a, b = input().split(" ")
a, b = int(a), int(b)

print(a<<b)

1 3
8

In [23]:
a, b = input().split(" ")
a, b = int(a), int(b)

print(a < b)

1 9
True

In [24]:
a, b = input().split(" ")
a, b = int(a), int(b)

print(a == b)

0 0
True

In [25]:
a, b = input().split(" ")
a, b = int(a), int(b)

print(a <= b)

0 -1
False

#6051~6060

In [26]:
a, b = input().split(" ")
a, b = int(a), int(b)

print(a != b)

0 1
True

6052 : [기초-논리연산] 정수 입력받아 참 거짓 평가하기(설명)(py)

bool( ) 을 이용하면 입력된 식이나 값을 평가해 불 형의 값(True 또는 False)을 출력해준다.
식이나 값을 계산해서 결과값이 만들어지는 것을 평가(evaluate)라고 한다. 

python 언어에서 정수값 0은 False(거짓)로 평가되고, 그 외의 값들은 모두 True(참)로 평가된다.

In [27]:
a = int(input())

print(bool(a))

0
False

In [28]:
a = int(input())

print(not(bool(a)))

1
False

In [30]:
a, b = input().split(" ")
print(bool(int(a)) and bool(int(b)))

1 1
True

In [31]:
a, b = input().split(" ")
print(bool(int(a)) or bool(int(b)))

1 1
True

In [33]:
a, b = input().split(" ")
print(bool(int(a)) and not(bool(int(b))) or not(bool(int(a))) and bool(int(b)))

1 1
False

In [41]:
a, b = input().split(" ")
a, b = int(a), int(b)
print(bool(a) and bool(b) or not(bool(a)) and not(bool(b)))

0 0
True

In [43]:
a, b = input().split(" ")
a, b = int(a), int(b)
print(not(bool(a) or bool(b)))

0 0
True

6059 : [기초-비트단위논리연산] 비트단위로 NOT 하여 출력하기(설명)(py)

입력 된 정수를 비트단위로 참/거짓을 바꾼 후 정수로 출력해보자.
비트단위(bitwise)연산자 ~ 를 붙이면 된다.(~ : tilde, 틸드라고 읽는다.)

** 비트단위(bitwise) 연산자는,
~(bitwise not), &(bitwise and), |(bitwise or), ^(bitwise xor),
<<(bitwise left shift), >>(bitwise right shift)
가 있다.

예를 들어 1이 입력되었을 때 저장되는 1을 32비트 2진수로 표현하면
        00000000 00000000 00000000 00000001 이고,
~1은 11111111 11111111 11111111 11111110 가 되는데 이는 -2를 의미한다.

예시
a = 1
print(~a) #-2가 출력된다.

In [44]:
a = int(input())
print(~a)

2
-3


6060 : [기초-비트단위논리연산] 비트단위로 AND 하여 출력하기(설명)(py)

이 연산을 이용하면 어떤 비트열의 특정 부분만 모두 0으로도 만들 수 있는데
192.168.0.31   : 11000000.10101000.00000000.00011111
255.255.255.0 : 11111111.11111111.11111111.00000000

두 개의 ip 주소를 & 연산하면
192.168.0.0 :     110000000.10101000.0000000.00000000 을 계산할 수 있다.

실제로 이 계산은 네트워크에 연결되어 있는 두 개의 컴퓨터가 데이터를 주고받기 위해
같은 네트워크에 있는지 아닌지를 판단하는데 사용된다.

In [45]:
a, b = input().split(" ")
a, b = int(a), int(b)

print(a&b)

3 5
1

#6061~6070

6061 : [기초-비트단위논리연산] 비트단위로 OR 하여 출력하기(설명)(py)

| 은 파이프(pipe)연산자라고도 불리는 경우가 있다 / or 연산

In [46]:
a, b = input().split(" ")
a, b = int(a), int(b)

print(a | b)

3 5
7

062 : [기초-비트단위논리연산] 비트단위로 XOR 하여 출력하기(설명)(py)

비트단위(bitwise) 연산자 ^(xor, circumflex/caret, 서컴플렉스/카릿)를 사용하면 된다.

두 장의 이미지가 겹쳐졌을 때 색이 서로 다른 부분만 처리할 수 있다.
배경이 되는 그림과 배경 위에서 움직이는 그림이 있을 때,
두 그림에서 차이만 골라내 배경 위에서 움직이는 그림의 색으로 바꿔주면
전체 그림을 구성하는 모든 점들의 색을 다시 계산해 입히지 않고
보다 효과적으로 그림을 처리할 수 있게 되는 것

In [47]:
a, b = input().split(" ")
a, b = int(a), int(b)

print(a ^ b)

3 5
6

6063 : [기초-3항연산] 정수 2개 입력받아 큰 값 출력하기(설명)(py)

3개의 요소로 이루어지는 3항 연산은
"x if C else y" 의 형태로 작성이 된다.
- C : True 또는 False 를 평가할 조건식(conditional expression) 또는 값
- x : C의 평가 결과가 True 일 때 사용할 값
- y : C의 평가 결과가 True 가 아닐 때 사용할 값

In [49]:
a, b = input().split(" ")
a = int(a)
b = int(b)
print(a if (a >= b) else b)

123 456
456